<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ol>
            <li v-for="item in tarefas">{{ item }}</li>
        </ol>

        <input type="text" v-model="texto">
        <button @click="insereTarefa(texto)">inserir</button>
    </div>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    tarefas: [
                        "asdsadsada",
                        "a2323232",
                        "dasdas892739238723",
                    ],
                    texto:""
                }
            },
            methods: {
                insereTarefa(tarefa){
                    if (tarefa!=""){
                        this.tarefas.push(tarefa)
                        this.texto=""

                    }
                }
                
                
            }
        }
        )
        app.mount("#app")

    </script>
</body>
</html>